.nav-link{
    font-size: 20px;
    font-weight: 600;
    color:white;
}
.nav-link:hover {
    color: #73faea;
    text-decoration: under-line;
}
nav{
    background-image: url(https://cdn.baogiaothong.vn/upload/1-2021/images/2021-02-22/picture-7-1613982797-965-width660height617.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#active{
    color:#73faea;
}
.row{
    padding: 20px;
    font-size: 20px;
    padding-top: 40px;
}
.modau{
    text-align: center;
    color: WHITE;
    font-weight: 600;
    font-size: 60px;
    padding: 20px;
    font-family: 'Tilt Prism', cursive;
    background-image: url(https://cdn.baogiaothong.vn/upload/1-2021/images/2021-02-22/picture-7-1613982797-965-width660height617.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height: 650px;
    font-style: italic;
}
.gioithieu{
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    padding-top:40px;
    text-align: center;
}
.caudan{
    padding-top: 100px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #9c470e;
    font-style: italic;
    font-size: 25px;
}
.caudan2{
    padding-top: 100px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #a6a029;
    font-style: italic;
    font-size: 25px;
}
.caudan3{
    padding-top: 90px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #0f0302;
    font-style: italic;
    font-size: 25px;
}
.caudan4{
    padding-top: 180px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #0f0302;
    font-style: italic;
    font-size: 25px;
}
.caudan5{
    padding-top: 180px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #abaa72;
    font-style: italic;
    font-size: 25px;
}
.caudan6{
    padding-top: 180px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #2f3161;
    font-style: italic;
    font-size: 25px;
}
.caudan7{
    padding-top: 180px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Itim', cursive;
    color: #61382f;
    font-style: italic;
    font-size: 25px;
}
img{
    height:400px;
    width: 100%;
}
.tieude{
    text-align: left;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
}
#hinh{
    width: 80%;
    height:auto;
    padding-top: 30px;
}
#hinh1{
    width: 100%;
    height:auto;
    padding-top: 30px;
}
.hinh{
    display: flex;
    justify-content: center;
    text-align: center;
}
.mobai{
    text-align: left;
    font-family: 'Itim', cursive;
    font-size: 25px;
    padding-top: 20px;
}
.box{
    text-align: center;     
    position: relative;    
    overflow: hidden;
    box-shadow: 0 0 5px #555;
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(35, 35, 35, 0.7);
    transform: rotate(0deg) scale(0);
    transition: all 1.1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    }
.box:hover .box-content{
    transform: rotate(360deg) scale(1);
    transform-origin: -10% -20% 0;
    }
.box .title{
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
}
.box .description{
    font-size: 14px;
    margin-top: 20px;
}  
@media only screen and (max-width:990px){     
.box{ 
    margin-bottom: 30px; 
}  
}
@media only screen and (max-width:360px){
.box .box-content{ 
    padding: 0 5px; 
}
.box .title{
    margin-top: 10px;
    padding-bottom: 10px;
}   
}
#des{
    text-align: left;
}
#tit{
    padding-top: 30px;
}
.na{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a8cfa3;
}
.ne{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
#ma{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar-nav li{
    position: relative;
}
.navbar-nav ul.submenu{
    position: absolute;
    background-image: url(https://cdn.baogiaothong.vn/upload/1-2021/images/2021-02-22/picture-7-1613982797-965-width660height617.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 400px;
    display: none;
}
.navbar-nav .nav-item:hover>ul.submenu{
    display: block;
}
#ma:hover{
    color:#73faea;
}
.thumbnail {
    position: relative;
    overflow: hidden; 
    border: 1px solid #e5e5e5; 
}
.thumbnail img {
    width: 100%; 
    height: 100%;  
    transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s; 
        -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
}
.thumbnail img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    cursor: pointer; 
}
.thumbnail p {
    position: absolute;
    top: 350px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p {
    position: absolute;
    top: 340px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
#par {
    position: absolute;
    top: 220px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p#par {
    position: absolute;
    top: 210px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
#parr {
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p#parr {
    position: absolute;
    top: 190px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
.navbar-nav ul.submenu#pox{
    position: absolute;
    background-image: url(https://cdn.baogiaothong.vn/upload/1-2021/images/2021-02-22/picture-7-1613982797-965-width660height617.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 90px;
    display: none;
}
.navbar-nav .nav-item#tnghiem:hover>ul.submenu{
    display: block;
}
.navbar-nav ul.submenu#tnghiem{
    position: absolute;
    background-image: url(https://cdn.baogiaothong.vn/upload/1-2021/images/2021-02-22/picture-7-1613982797-965-width660height617.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 200px;
    display: none;
}
.navbar-nav .nav-item#pox:hover>ul.submenu{
    display: block;
}
.mucluc{
    background-color: #FFFAF0;
    list-style: decimal;
}
#mucluc{
    color: #696969;
    text-decoration: none;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    transition: 0.25s ease-in-out;
}
#quanan{
    color: #696969;
    text-decoration: none;
    list-style:square ;
}
.menuform{
    padding-left: 30px;
    padding-bottom: 20px;
}
#mucluc:hover{
    color: #B5B5B5;
}
.open{
    font-size: 25px;
    color: #696969;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}