header {
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
      }
.nav-link{
    font-size: 20px;
    font-weight: 600;
    color:white;
}
.nav-link:hover {
    color: #73faea;
    text-decoration: under-line;
}
nav{
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#active{
    color:#73faea;
}
.row{
    padding: 20px;
    font-size: 20px;
}
.modau{
    text-align: center;
    color: WHITE;
    font-weight: 600;
    font-size: 60px;
    padding: 20px;
    font-family: 'Tilt Prism', cursive;
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height: 650px;
    font-style: italic;
}
img{
    height:300px;
    width: 100%;
}
.canle{
    padding-top: 25px;
}
.gioithieu{
    font-weight: 600;
    font-style: italic;
    font-size: 27px;
    padding-top:40px ;
    text-align: center;
}
#hinh{
    width: 80%;
    height:auto;
    padding-top: 30px;
}
.hinh{
    display: flex;
    justify-content: center;
    text-align: center;
}
#start{
    text-align: center; 
    font-size: 25px;
    padding-top: 50px;
    font-family: Candara;
}
.tieptheo{
    font-style: italic;
    font-size: 20px;
}
.cantrai{
    text-align: left;
}
.phandau{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Patrick Hand', cursive;
    color:#84d1fa;
}
.phandau2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Patrick Hand', cursive;
    color:#ceed7f;
}
.phandau3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Patrick Hand', cursive;
    color:#fcce83;
    padding-top: 60px;
}
.phandau4{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Patrick Hand', cursive;
    color:#e9ed6d;
    padding-top: 60px;
}
#phangiua{ 
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    color: #123b70;
}
#phangiua2{ 
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    color: #4b660f;
}
#phangiua3{ 
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    color: #ad7211;
}
#phangiua4{ 
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    color: #929615;
}
.na{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8a8a8a;
}
.ne{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
#ma{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar-nav li{
    position: relative;
}
.navbar-nav ul.submenu{
    position: absolute;
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 400px;
    display: none;
}
.navbar-nav .nav-item:hover>ul.submenu{
    display: block;
}
#ma:hover{
    color:#73faea;
}
.thumbnail {
    position: relative;
    overflow: hidden; 
    border: 1px solid #e5e5e5; 
}
.thumbnail img {
    width: 100%; 
    height: 100%;  
    transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s; 
        -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
}
.thumbnail img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    cursor: pointer; 
}
.thumbnail p {
    position: absolute;
    top: 350px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p {
    position: absolute;
    top: 340px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
#par {
    position: absolute;
    top: 220px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p#par {
    position: absolute;
    top: 210px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
#parr {
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 0.3s;
}
.thumbnail:hover p#parr {
    position: absolute;
    top: 190px;
    left: 0;
    color: white;
    font-weight: 600;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
}
.navbar-nav ul.submenu#pox{
    position: absolute;
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 90px;
    display: none;
}
.navbar-nav .nav-item#tnghiem:hover>ul.submenu{
    display: block;
}
.navbar-nav ul.submenu#tnghiem{
    position: absolute;
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px 15px;
    list-style: none;
    width: 200px;
    display: none;
}
.navbar-nav .nav-item#pox:hover>ul.submenu{
    display: block;
}
#toggle{
    background-image: url(https://media.baodautu.vn/Images/hoanganh/2022/06/25/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:990px) {
    .navbar-nav{
        flex-direction: column;
        text-align: center;
    }
    #toggle{
        display: block;
    }
    .navbar{
        display: none;
    }
} 
